.cardContainer{
  display: flex;
  flex-flow: column nowrap;

  .cardInfo{
    background-color: var(--Dark-Blue);
    padding: 1.5rem 1rem 2rem;

    ul{
      display: flex;
      flex-direction: column;
      list-style: none;

      li{
        line-height: 1.5rem;
      }
      li:first-child{
        margin-bottom: 1rem;
        font-size: 1.5rem;
        font-weight: 600;
      }
      span{
        font-weight: 300;
      }
    }
  }
}